<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/index.css" />
    <title>Kalopsia</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">KalopsiaXR</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Anasayfa</a>
            </li>
            <li class="nav-item mx-lg-5">
              <a class="nav-link" href="#">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">İletişim</a>
            </li>
          </ul>
          <a href="" class="get-stared-btn nav-btn"
          ><img src="images/login.svg" alt="login" /> Başlayın</a>
        </div>
      </div>
    </nav>
    <section class="hero">
      <div class="hero-bg-1"></div>
      <div class="hero-bg-2"></div>
      <div class="hero-bg-3"></div>
      <div class="hero-bg-4"></div>
      <div class="container">
        <h1 class="hero-title">Frozen Forest<br />Reality Technologies</h1>
        <p class="hero-desc" style="z-index: 1;">
            Unreal Engine oyun motoru ve gerçeklik teknolojikerinden yararlanarak endüstri 4. 0 dikeyinde interaktif simülasyonlar geliştiren bir bilişim girişimidir
        </p>
      </div>
      <div class="hero-left-ball mt-5"></div>
      <div class="hero-left-ball-container"></div>
      <div class="hero-right-ball-container"></div>
      <div class="hero-right-ball mt-5"></div>
      <img class="hero-man" src="images/hero-man.png" alt="hero man" />
      <img class="hero-man2" src="images/hero-man.png" alt="hero man" />
      <div class="hero-man-bg-1"></div>
      <div class="hero-man-bg-2"></div>
      <div class="hero-man-bg-3"></div>
      <div class="infos">
        <div class="infos-item">
          <div class="infos-item-img-container">
            <img src="images/model import.svg" alt="" />
          </div>
          <h5>Model Import Et</h5>
          <p>3D CAD dosyalarınızı hizmet sağlayıcı tarafından müdahaleye ihtiyaç duymadan import edebilirsiniz.</p>
        </div>
        <div class="infos-item">
          <div class="infos-item-img-container">
            <img src="images/task.svg" alt="" />
          </div>
          <h5>Görev Oluştur</h5>
          <p>Programlama veya görsel script bilgisine ihtiyaç duymadan görevlerinizi tanımlayabilirsiniz</p>
        </div>
        <div class="infos-item">
          <div class="infos-item-img-container">
            <img src="images/walk.svg" alt="" />
          </div>
          <h5>Hareketleri Kaydet</h5>
          <p>Personelinizin VR ortamındaki yapmasını istediğiniz hareketleri bir kere kendiniz yaparak kayıt edin</p>
        </div>
        <div class="infos-item">
          <div class="infos-item-img-container">
            <img src="images/info file.svg" alt="" />
          </div>
          <h5>Ek Bilgi Yükle</h5>
          <p>CAD dosyanızdaki meshlerinizle ve/veya görevlerinizle eşlenecek ek bilgiler, notlar, belgeler ve videolar ekleyebilirsiniz</p>
        </div>
      </div>
    </section>
    <section class="download-and-start">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <img class="download-and-start-img" src="images/vr.svg" alt="" />
          </div>
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h5 class="download-and-start-alt-title">K a l o p s i a X R</h5>
            <h1 class="download-and-start-title">Yükle ve Başla</h1>
            <p class="download-and-start-desc">
		Hazırladığınız senaryo dosyasını VR Client'ımıza atarak personelinizi eğitmeye başlayabilirsiniz
            </p>
            <a href="" class="get-stared-btn"
              ><img src="images/login.svg" alt="login" /> Başlayın</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="watch">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 d-flex flex-column justify-content-center mt-5">
              <h5 class="watch-alt-title">E ğ i t i m  M o d ü l ü</h5>
            <h1 class="watch-title">Deneyimi İzle</h1>
            <p class="watch-desc">
		Uygulama modülünün haricinde editörümüzde tanımladığınız hareketleri eğitim amaçlı izleyebileceğiniz VR ve Mobil uygulama modüllerimiz mevcuttur
            </p>
            <a href="" class="watch-btn"
              ><img class="watch-btn-img" src="images/watch.svg" alt="" /> Videoyu İzle
            </a>
          </div>
          <div class="col-lg-7 mt-5">
            <img class="watch-img" src="images/vr-man.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="more py-5">
      <div class="container">
        <div class="more-inner text-center text-sm-start">
          <h1>
            Frozen Forest <br />
            Reality Technologies
          </h1>
          <a href="" class="get-stared-btn">Daha Fazla</a>
        </div>
      </div>
    </section>
    <section class="ref">
      <div class="container">
        <h1 class="ref-title">Galeri</h1>
        <div class="ref-container">
          <div class="ref-container-item">
            <img
              class="ref-container-item-img"
              src="images/1.jpg"
              alt="profile photo"
            />
            <!-- <h2 class="ref-container-item-name">DEVELOPER</h2>
		 <div class="ref-container-item-tag">TAGLING HERE</div> -->
          </div>
          <div class="ref-container-item">
              <img
		  class="ref-container-item-img"
		  src="images/2.jpg"
		  alt="profile photo"
              />
              <!-- <h2 class="ref-container-item-name">DEVELOPER</h2>
		   <div class="ref-container-item-tag">TAGLING HERE</div> -->
          </div>
          <div class="ref-container-item">
              <img
		  class="ref-container-item-img"
		  src="images/3.jpg"
		  alt="profile photo"
              />
              <!-- <h2 class="ref-container-item-name">DEVELOPER</h2>
		   <div class="ref-container-item-tag">TAGLING HERE</div> -->
          </div>
          <div class="ref-container-item">
              <img
		  class="ref-container-item-img"
		  src="images/4.jpg"
		  alt="profile photo"
              />
              <!-- <h2 class="ref-container-item-name">DEVELOPER</h2>
		   <div class="ref-container-item-tag">TAGLING HERE</div> -->
          </div>
          <div class="ref-container-item">
              <img
		  class="ref-container-item-img"
		  src="images/5.jpg"
		  alt="profile photo"
              />
              <!-- <h2 class="ref-container-item-name">DEVELOPER</h2>
		   <div class="ref-container-item-tag">TAGLING HERE</div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="get-offer">
      <div class="container">
        <h1 class="get-offer-title">Teklif Al</h1>
        <div class="row">
            <div class="col-12" id="vue">
		<form method="post" action="#" @submit="submitForm" class="get-offer-form">
		    <div class="mb-3">
			<input type="text" class="form-control" placeholder="Ad Soyad" v-model="name" />
		    </div>
		    <div class="mb-3">
			<input type="email" class="form-control" placeholder="Email" v-model="email" />
		    </div>
		    <div class="mb-3">
			<textarea
			    class="form-control"
			    placeholder="Mesaj"
			    rows="7"
			    v-model="message"
			></textarea>
		    </div>
		    <button type="submit" class="btn get-offer-form-btn">Gönder</button>
		</form>
          </div>
        </div>
      </div>
    </section>
    
    <footer>
      <div class="container">
        <a href="#" class="footer-brand">KalopsiaXR</a>
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="#">Privacy Policy</a></li>
          <li class="footer-nav-item"><a href="#">Terms & Condition</a></li>
          <li class="footer-nav-item"><a href="#">Legal</a></li>
        </ul>
      </div>
    </footer>
      <div class="col-12 mx-auto text-light pb-5">
        <center>Copyright © 2020 KalopsiaXR. All rights reserved.</center>
        <center class="mt-4"><img src="images/radlof.svg" class="img-fluid" style="height: 45px;"></center>
      </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
	<script src="https://smtpjs.com/v3/smtp.js"></script>

	<!-- VUE -->
	<script>
	 app = new Vue({
             el: '#vue',
             data: {
		 errors: [],
		 form: {
		     name: null,
		     email: null,
		     message: null,
		     wantUpdate: ""
		 },
		 blockedMails: ['@gmail.com', '@hotmail.com', '@outlook.com', '@live.com',
				'@yandex.com', '@yahoo.com'],
             },
	     methods: {
		 checkForm: function (e) {	     
		     this.errors = [];

		     if (!this.form.name) {
			 this.errors.push('Name required.');
		     }
		     
		     if (!this.form.email) {
			 this.errors.push('Email required.');
		     }
		     else {
			 for (mail in this.blockedMails)
			 {
			     console.log(this.blockedMails[mail]);
			     
			     if (this.form.email.endsWith(this.blockedMails[mail])) {
				 this.errors.push('Email should be corporate. Cannot be ' + this.blockedMails[mail]);
				 return false
				 break;
			     }
			 }
		     }
		     
		     if (!this.form.message) {
			 this.errors.push('Message required.');
		     }

		     return true;
		     
		 },
		 submitForm: function (e) {
		     e.preventDefault();
		     if (this.checkForm(e)) {
			 this.sendMail();
		     }
		 },
		 resetForm() {
		     for (property in this.form) {
			 this.form[property] = null;
		     }
		 },
		 sendMail() {
		     Email.send({
			 // SecureToken : "71311377-5b56-465c-8bbb-1c5ea9b4499e",
			 SecureToken : "07fcfa5a-6ab4-48fd-9cc6-6ba669958cf6",
			 To : 'requests@ffreality.com',
			 From : 'form@ffreality.com',
			 Subject : "Offer Form",
			 Body : "Name: " + this.form.name + "<br>"  +
				"Email: " + this.form.email + "<br>" +
				"Message: " + this.form.message
		     }).then(
			 message => alert(message)
		     );
		 },
	     },
	     computed: {
		 
	     }
	 })
	</script>
  </body>
</html>
